# **List**
Lists are created using square brackets:

In [1]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

# **List Items**
List items are ordered, changeable, and allow duplicate values.
List items are indexed, the first item has index [0], the second item has index [1] etc.
Allow Duplicates

In [2]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

## **List Length**
To determine how many items a list has, use the len() function:

In [3]:
print(len(thislist))

5

## **List Items - Data Types**
List items can be of any data type:

In [4]:
# String, int and boolean data types:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

In [6]:
# A list with strings, integers and boolean values:
list1 = ["abc", 34, True, 40, "male"]
print(list1)

['abc', 34, True, 40, 'male']

## **Access Elements**

In [7]:
#Access the first element of list
print(list1[0])

abc

In [8]:
#Access the last element of list
print(list1[-1])

male

## **Slicing**
It is possible to access a section of items from the list using the slicing operator :, not just a single item

In [9]:
list1

['abc', 34, True, 40, 'male']

In [10]:
list1[1]

34

In [11]:
list1[1:5]

[34, True, 40, 'male']

In [12]:
print(list1[1:5:2])

[34, 40]

## **Add new elements in the list**

In [13]:
#Add new element in the list using append
list1.append(6)
print(list1)

['abc', 34, True, 40, 'male', 6]

## **Reversing a List**

In [14]:
list1.reverse()
print(list1)

[6, 'male', 40, True, 34, 'abc']

## **Removing Elements from the List**
Elements can be removed from the List by using the built-in remove() function but an Error arises if the element doesn't exist in the list. Remove() method only removes one element at a time, to remove a range of elements, the iterator is used. The remove() method removes the specified item.

In [15]:
print("Initial List: ")
print(list1)

# Removing elements from List
# using Remove() method
list1.remove(6)
print("\nList after Removal of one element: ")
print(list1)

Initial List:
[6, 'male', 40, True, 34, 'abc']

List after Removal of one element:
['male', 40, True, 34, 'abc']

# **Tuple**
Tuples are used to store multiple items in a single variable.
A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

## **Create a Tuple:**

In [16]:
a = []
print(type(a))
print(a)

<class 'list'>
[]

In [17]:
a = ()
print(type(a))
print(a)

<class 'tuple'>
()

In [18]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

## **Tuple Items**
Tuple items are ordered, unchangeable, and allow duplicate values.

Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

**Allow Duplicates**
Since tuples are indexed, they can have items with the same value:

In [19]:
# Tuples allow duplicate values:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [21]:
thistuple[3]

'apple'

In [22]:
thistuple[-2]

'apple'

In [23]:
thistuple[1:4]

('banana', 'cherry', 'apple')

In [24]:
thistuple

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [28]:
thistuple[-4:-2]

('banana', 'cherry')

In [29]:
thistuple

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [30]:
type(thistuple)

tuple

In [31]:
dir(thistuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [25]:
thistuple.count('apple')

2

In [27]:
thistuple

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [30]:
thistuple = list(thistuple)

In [31]:
type(thistuple)

list

In [32]:
dir(thistuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [33]:
thistuple

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [34]:
thistuple.append("Affan")

In [35]:
thistuple

['apple', 'banana', 'cherry', 'apple', 'cherry', 'Affan']

In [36]:
thistuple = tuple(thistuple)

In [37]:
type(thistuple)

tuple

## **Create Tuple With One Item**
To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.

In [38]:
# One item tuple, remember the comma:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [39]:
x = ('apple', 'banana', 'cherry')
x = list(x)
print(type(x))

<class 'list'>

### Range

In [40]:
range(10)

range(0, 10)

In [41]:
range(5,75)

range(5, 75)

In [42]:
for i in range(10):
    print("Wahab",i)

Wahab 0
Wahab 1
Wahab 2
Wahab 3
Wahab 4
Wahab 5
Wahab 6
Wahab 7
Wahab 8
Wahab 9

In [43]:
for i in range(2,10):
    print("Wahab",i)

Wahab 2
Wahab 3
Wahab 4
Wahab 5
Wahab 6
Wahab 7
Wahab 8
Wahab 9

In [44]:
for i in range(2,10,3):
    print("Wahab",i)

Wahab 2
Wahab 5
Wahab 8

## **Tuple Items - Data Types**
Tuple items can be of any data type:

In [45]:
# String, int and boolean data types:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

In [46]:
# A tuple can contain different data types:
# A tuple with strings, integers and boolean values:
tuple1 = ("abc", 34, True, 40, "male")

# **Python Sets**
Sets are used to store multiple items in a single variable.
A set is a collection which is unordered, unchangeable*, and unindexed.
**Note:** Set items are unchangeable, but you can remove items and add new items.

## **Unordered**
Unordered means that the items in a set do not have a defined order.

Set items can appear in a different order every time you use them, and cannot be referred to by index or key

# **Create a Set:**
Sets are written with curly brackets.

In [47]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'banana', 'cherry', 'apple'}

## **Duplicates Not Allowed**
Sets cannot have two items with the same value.

In [48]:
# Duplicate values will be ignored:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'banana', 'cherry', 'apple'}

## **Get the Length of a Set**
To determine how many items a set has, use the len() function.

In [49]:
# Get the number of items in a set:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

## **Set Items - Data Types**
Set items can be of any data type:

In [50]:
# String, int and boolean data types:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

In [51]:
# A set can contain different data types:
# A set with strings, integers and boolean values:
set1 = {"abc", 34, True, 40, "male"}
print(set1)

{True, 'abc', 34, 40, 'male'}

## **type()**
From Python's perspective, sets are defined as objects with the data type 'set':

In [52]:
# What is the data type of a set?
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

In [53]:
dir(myset)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [54]:
myset.add("Salman")

In [55]:
myset

{'Salman', 'apple', 'banana', 'cherry'}

In [59]:
myset.discard('apple')
myset

{'banana', 'cherry'}

In [57]:
myset.remove('Salman')
myset

{'apple', 'banana', 'cherry'}

In [60]:
myset.pop()
myset

{'cherry'}

In [69]:
a = {1,2,3}
b = {'a','b','c'}
a.union(b)

{1, 2, 3, 'a', 'b', 'c'}

In [71]:
a.update(b)

In [72]:
a

{1, 2, 3, 'a', 'b', 'c'}

# **Python Dictionaries**
Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

In [ ]:
# Dictionaries are written with curly brackets, and have keys and values:
# Create and print a dictionary:
thisdict = {"brand": "Ford",  "model": "Mustang","year": 1964}
print(thisdict)

In [73]:
x  = {'Name': 'Muzamil',
     'cgpa':1.5,
     169:'SectionD'}

In [74]:
x['cgpa']

1.5

In [75]:
x[169]

'SectionD'

## **Dictionary Items**
Dictionary items are ordered, changeable, and does not allow duplicates.

Dictionary items are presented in key:value pairs, and can be referred to by using the key name.

In [ ]:
# Print the "brand" value of the dictionary:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

In [77]:
variable = dict([(1, 'AI'), (2, 'with')])
print(variable)

{1: 'AI', 2: 'with'}

In [79]:
y = {'section':'D',
    'employee':{'Name':'Muzamil',
             'age':61}}

In [81]:
y['employee']['Name']

'Muzamil'

## **Ordered or Unordered?**
When we say that dictionaries are ordered, it means that the items have a defined order, and that order will not change.

Unordered means that the items does not have a defined order, you cannot refer to an item by using an index.

## **Changeable**
Dictionaries are changeable, meaning that we can change, add or remove items after the dictionary has been created.

## **Duplicates Not Allowed**
Dictionaries cannot have two items with the same key:

In [76]:
# Duplicate values will overwrite existing values:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

# **Python If ... Else**
Python supports the usual logical conditions from mathematics:

Equals: a == b

Not Equals: a != b

Less than: a < b

Less than or equal to: a <= b

Greater than: a > b

Greater than or equal to: a >= b

These conditions can be used in several ways, most commonly in "if statements" and loops.

An "if statement" is written by using the if keyword.

In [82]:
# If statement:
a = 330
b = 200
if b > a:
  print("b is greater than a")

## **Indentation**
Python relies on indentation (whitespace at the beginning of a line) to define scope in the code. Other programming languages often use curly-brackets for this purpose.

In [83]:
a = 33
b = 200
if b > a:
print("b is greater than a") # you will get an error

IndentationError: expected an indented block after 'if' statement on line 3 (1443227691.py, line 4)

## **Elif**
The elif keyword is Python's way of saying "if the previous conditions were not true, then try this condition".

In [84]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In this example a is equal to b, so the first condition is not true, but the elif condition is true, so we print to screen that "a and b are equal".

## **Else**
The else keyword catches anything which isn't caught by the preceding conditions.

In [85]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

## **And**
The and keyword is a logical operator, and is used to combine conditional statements:

Test if a is greater than b, AND if c is greater than a:

In [86]:
a = 200
b = 330
c = 500
if a > b and c > a:
  print("Both conditions are True")

## **Or**
The or keyword is a logical operator, and is used to combine conditional statements:

In [87]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

## **Not**
The not keyword is a logical operator, and is used to reverse the result of the conditional statement:

In [88]:
# Test if a is NOT greater than b:
a = 33
b = 200
if not a > b:
  print("a is NOT greater than b")

a is NOT greater than b

Pratice the concpet and Explore the python Language


Assignment will be shared soon

In [89]:
name = {'student':'Saqib',
        'age':24,
        'City':'Lahore',
        'Title':'Data Scientist'}

In [90]:
dir(name)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [91]:
name

{'student': 'Saqib', 'age': 24, 'City': 'Lahore', 'Title': 'Data Scientist'}

In [92]:
name['Title']

'Data Scientist'

In [93]:
name.update({'Title': 'AI'})

In [94]:
name

{'student': 'Saqib', 'age': 24, 'City': 'Lahore', 'Title': 'AI'}

In [ ]:
dir(name)