## **What is Loop ?**

A loop is a programming concept that allows for the **repetition** of a set of **instructions multiple times**.

# **Python - For Loops**
A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).


With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [1]:
# print the Hello World using the print statement
print(" Hello World")
print(" Hello World")
print(" Hello World")
print(" Hello World")
print(" Hello World")
print(" Hello World")
print(" Hello World")
print(" Hello World")
print(" Hello World")
print(" Hello World")

 Hello World
 Hello World
 Hello World
 Hello World
 Hello World
 Hello World
 Hello World
 Hello World
 Hello World
 Hello World

In [6]:
name = "Saadat"
for i in range(4,10,2):
    print(name,i)

Saadat 4
Saadat 6
Saadat 8

In [3]:
# print the string specific number of times
for i in range(10):
  print("Hello World",i)
  print("Hello Pakistan")

Hello World 0
Hello Pakistan
Hello World 1
Hello Pakistan
Hello World 2
Hello Pakistan
Hello World 3
Hello Pakistan
Hello World 4
Hello Pakistan
Hello World 5
Hello Pakistan
Hello World 6
Hello Pakistan
Hello World 7
Hello Pakistan
Hello World 8
Hello Pakistan
Hello World 9
Hello Pakistan

In [4]:
# Print each fruit in a fruit list:
fruits = ["apple", "banana", "cherry"]
for i in fruits:
  print(i)

apple
banana
cherry

In [11]:
# Print each fruit in a fruit list:
fruits = ["apple", "banana", "cherry"]
for i in range(len(fruits)):
  print(fruits[i])

apple
banana
cherry

In [12]:
# printing the List
print(fruits)

['apple', 'banana', 'cherry']

In [5]:
# Print each value in a my_list, list:

my_list = [10, 20, 30, 40, 50, 60]

for i in my_list: #<--- number is a variable, who's scope is limited to the for loop. number can be named anything you'd like
    print(i)

10
20
30
40
50
60

## **Looping Through a String**
Even strings are iterable objects, they contain a sequence of characters:

Loop through the letters in the word "banana":

In [13]:
for i in "banana":
  print(i)

b
a
n
a
n
a

# **The range() function**
In most cases, we will want to loop through a predetermined list. However, we can also generate a list to loop over "on the fly" with the range() function

In [6]:
for i in range(8):
    print(i)

0
1
2
3
4
5
6
7

In [7]:
# Printing Numbers
for num in range(1, 6):
    print(num)

1
2
3
4
5

In [8]:
# Using the For  loop to print the Items of list and their index
my_list = [10, 20, 30, 40, 50, 60]
for i in range(len(my_list)):
    print(i, my_list[i])

0 10
1 20
2 30
3 40
4 50
5 60

In [17]:
for i in range(len(fruits)):
  print(i,fruits[i])

0 apple
1 banana
2 cherry

In [18]:
# Getting the Length of List using the len() function
my_list = [10, 20, 30, 40, 50, 60]
len(my_list)

6

## **Looping through a dictionary**
keys()
You can step through the keys of a dictionary.

In [9]:
# printing the values from the Dictionary
my_dict = { "brand": "Ford",  "model": "Mustang",  "year": 1964,  "year": 2020}

for i in my_dict.values():
    print(i)

Ford
Mustang
2020

In [14]:
Name = []
value = int(input("How many times you want to enter input"))
for i in range(value):
    Name.append(input("Please enter the value you want to store in list"))
print(Name)

How many times you want to enter input 3
Please enter the value you want to store in list Aun
Please enter the value you want to store in list ABC
Please enter the value you want to store in list XYZ

['Aun', 'ABC', 'XYZ']

In [10]:
# printing the keys from the dictionary
my_dict = { "brand": "Ford",  "model": "Mustang",  "year": 1964,  "year": 2020}

for key in my_dict.keys():
    print(key)

brand
model
year

In [11]:
dir(my_dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [16]:
my_dict = { "brand": "Ford",  "model": "Mustang",  "year": 1964,  "year": 2020}

for i in my_dict.items():
    print(i)

('brand', 'Ford')
('model', 'Mustang')
('year', 2020)

In [24]:
# Finding Even Numbers
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for i in numbers:
    if i % 2 == 0:
        print("number is even.", i)

number is even. 2
number is even. 4
number is even. 6
number is even. 8
number is even. 10

In [13]:
vehicle = { "brand": ["Ford","Toyota","BMW","Dodge CHarger"],  "model": "Mustang",  "year": 2020}

In [17]:
print(vehicle["brand"][1])

Toyota

In [19]:
Section = {'Name':'B', 
           'Student':{'Name':['Talha','Aun','Saadat','Mohsin']},
          'Strength':40}

In [22]:
Section['Student']['Name'][-1]

'Mohsin'

# **Python While Loops**
With the while loop we can execute a set of statements as long as a condition is true.

In [23]:
# Print i as long as i is less than 60:
i = 1
while i <= 60:
  print(i)
  i = i + 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60

In [24]:
# while loop
count = 0
while (count < 3):
	print("Print hello", count)
	count = count + 1

Print hello 0
Print hello 1
Print hello 2

In [27]:
name = input("Enter Your Name:")
name = int(name)
print(name)
print(type(name))

Enter Your Name: 97

97
<class 'int'>

In [28]:
age = int(input("Enter Your Name:"))
print(age)
print(type(age))

Enter Your Name: hj

ValueError: invalid literal for int() with base 10: 'hj'

In [29]:
# User Input Validation
password = ""
while password != "husnain96":
    password = input("Enter the password: ")
    if password == "husnain96":
        print("Access granted!")
    else:
        print("Access denied!")

Enter the password:  dyd

Access denied!

Enter the password:  gjg

Access denied!

Enter the password:  husnain96

Access granted!

In [30]:
# Summing Numbers
total = 0
num = 1
while num <= 10:
    total = total + num
    num = num + 1
print("The sum is:", total)

The sum is: 55

# Nested Loop

In [34]:
even_num = [ ]
for item in range(1, 11):
    while item % 2 == 0:
        even_num.append(item)
        break
print("Even Numbers: ", even_num)

Even Numbers:  [2, 4, 6, 8, 10]

In [35]:
for i in range(1,11):
    if i == 5:
        break
    print(i)

1
2
3
4

In [36]:
for i in range(1,11):
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10

In [31]:
for i in range(1,11):
    if i == 12:
        pass
    print(i)

1
2
3
4
5
6
7
8
9
10

# **Python Functions**
A function is a block of code which only runs when it is called.

You can pass data, known as parameters, into a function.

A function can return data as a result.

## **Creating a Function**
In Python a function is defined using the def keyword:

In [ ]:
#syntax
def function_name():

In [38]:
def my_function():
  print("Hello from a function")

## **Calling a Function**
To call a function, use the function name followed by parenthesis:

In [39]:
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

## **Arguments**
Information can be passed into functions as arguments.

Arguments are specified after the function name, inside the parentheses. You can add as many arguments as you want, just separate them with a comma.

The following example has a function with one argument (fname). When the function is called, we pass along a first name, which is used inside the function to print the full name:

In [40]:
# Function with Parameters
def add_numbers(a, b):
    sum = a + b
    return sum

# Calling the function
result = add_numbers(5, 3)
print("The sum is:", result)

The sum is: 8

In [53]:
# Function with Parameters
def add_numbers(a, b=5):
    sum = a + b
    return sum

# Calling the function
result = add_numbers(a=3)
print("The sum is:", result)

The sum is: 8

## **Parameters or Arguments?**
The terms parameter and argument can be used for the same thing: information that are passed into a function.

From a function's perspective:

A parameter is the variable listed inside the parentheses in the function definition.

An argument is the value that is sent to the function when it is called.

You can send any data types of argument to a function (string, number, list, dictionary etc.), and it will be treated as the same data type inside the function.

E.g. if you send a List as an argument, it will still be a List when it reaches the function:

In [54]:
def my_function(food):
  for x in food:
    print(x)

In [55]:
fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

## **Return Values**
To let a function return a value, use the return statement:

In [56]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

In [ ]:
# Function with Default Parameter
def greet_person(name="World"):
    print("Hello,", name)

# Calling the function without an argument
greet_person()

# Calling the function with an argument
greet_person("Alice")

In [57]:
a = [1,56,76,0,9]

In [58]:
a.sort()
a

[0, 1, 9, 56, 76]

In [59]:
a.sort(reverse=True)
a

[76, 56, 9, 1, 0]

In [60]:
# python program to find Even and Odd Numbers
def check_even_odd(num):
    if num % 2 == 0:
        print(num, "is even")
    else:
        print(num, "is odd")

In [61]:
# Call the function
check_even_odd(7)

7 is odd

In [70]:
# Python Program to Count the Number of Words in a String:
def count_words(string):
    words = string.split()
    print(words)
    return len(words)

In [71]:
# Call the function
sentence = "Python is a popular programming language"
word_count = count_words(sentence)
print("Number of words:", word_count)

['Python', 'is', 'a', 'popular', 'programming', 'language']
Number of words: 6

In [72]:
dir(sentence)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [75]:
string1 ='Hello Python'
print(len(string1))

12

In [76]:
print('There are %d students in a class.' %25)

print('She stood up and %s to the class.' %'spoke')

There are 25 students in a class.
She stood up and spoke to the class.

In [77]:
print('We all are {}.'.format('equal'))

print('{2} {1} {0}'.format('directions','the', 'Read'))

print('a: {a}, b: {b}, c: {c}'.format(a = 1,b = 'Two',c = 12.3))

print('The first {p} was alright, but the {p} {p} was tough.'.format(p = 'second'))

We all are equal.
Read the directions
a: 1, b: Two, c: 12.3
The first second was alright, but the second second was tough.

In [79]:
name = 'Alee'
print(f"My name is {name}.")

a = 5
b = 10
print(f"He said his age is {2 * (a + b)}.")

My name is Alee.
He said his age is 30.